<!-- car_detail.html -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car detail</title>
</head>

<body>
  <h1>{{ object }}</h1>
  <p><strong>Plate number:</strong> {{ object.plate_number }}</p>
  <p><strong>Produced by:</strong> {{ object.company_produced }}</p>
  <p><strong>Model:</strong> {{ object.model }}</p>
  <p><strong>Color:</strong> {{ object.color }}</p>
  <a href="/cars">Get back</a>
</body>
</html>