header {
  background-color: #000720;
  color: white;
}

.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header-left-cell {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px
}

button {
  margin: 10px 0;
}

.main-container {
  padding: 10px;
}

.button-and-link {
  display: flex;
  flex-direction: column;
}

.lable {
  font-weight: 600;
  font-size: 26px;
}