<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../img/favicon.ico">
        <title>Представления - Лабораторные работы</title>
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/font-awesome.min.css" rel="stylesheet">
        <link href="../css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css">
        <link href="../css/custom.css" rel="stylesheet">
        <link href="../css/palette.scss" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script> 
     <link href="../assets/stylesheets/glightbox.min.css" rel="stylesheet"/><style>
        html.glightbox-open { overflow: initial; height: 100%; }
        .gslide-title { margin-top: 0px; user-select: text; }
        .gslide-desc { color: #666; user-select: text; }
        .gslide-image img { background: white; }
        </style> <script src="../assets/javascripts/glightbox.min.js"></script></head>

    <body>
        <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="..">Лабораторные работы</a>
                <!-- Expander button -->
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Expanded navigation -->
                <div id="navbar-collapse" class="navbar-collapse collapse">

                    <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a rel="prev" href="../forms/" class="nav-link">
                                    <i class="fa fa-arrow-left"></i> Previous
                                </a>
                            </li>
                            <li class="nav-item">
                                <a rel="next" class="nav-link disabled">
                                    Next <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="https://github.com/kinsl/ITMO_ICT_WebDevelopment/edit/master/docs/views.md" class="nav-link"><i class="fa fa-github"></i> Edit on GitHub</a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="col-md-3"><div class="navbar-light navbar-expand-md bs-sidebar hidden-print affix" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>

    
    <div id="toc-collapse" class="navbar-collapse collapse card bg-secondary">
        <ul class="nav flex-column">
            
            <li class="nav-item" data-level="1"><a href="#_1" class="nav-link">Представления</a>
              <ul class="nav flex-column">
              </ul>
            </li>
        </ul>
    </div>
</div></div>
                    <div class="col-md-9" role="main">

<h1 id="_1">Представления</h1>
<p>Представления в Django —это то, что в классическом паттерне MVC называется контроллерами. Это место, где происходит обработка запросов и формирование ответов. Они определяются в файле views.py.</p>
<p>В рамках данной лабораторной работы структура этого файла следующая:</p>
<pre><code class="language-Python">from django.shortcuts import render, redirect
from django.http import HttpResponse
from django.contrib import messages
from django.contrib.auth.decorators import login_required
from django.db.models import Q
from django.contrib.auth import authenticate, login, logout
from .models import User, Topic, JobStatus, Job, MatchType, Match, ReviewType, Review, Message
from .forms import JobForm, UserForm, MyUserCreationForm


def loginPage(request):
    page = 'login'
    if request.user.is_authenticated:
        return redirect('home')

    if request.method == 'POST':
        email = request.POST.get('email').lower()
        password = request.POST.get('password')

        try:
            user = User.objects.get(email=email)
        except:
            messages.error(request, 'User does not exist')

        user = authenticate(request, email=email, password=password)

        if user is not None:
            login(request, user)
            return redirect('home')
        else:
            messages.error(request, 'Username OR password does not exit')

    context = {'page': page}
    return render(request, 'base/login_register.html', context)


def logoutUser(request):
    logout(request)
    return redirect('home')


def registerPage(request):
    form = MyUserCreationForm()

    if request.method == 'POST':
        form = MyUserCreationForm(request.POST)
        if form.is_valid():
            user = form.save(commit=False)
            user.username = user.username.lower()
            user.save()
            login(request, user)
            return redirect('home')
        else:
            messages.error(request, 'An error occurred during registration')

    return render(request, 'base/login_register.html', {'form': form})


def get_customer(job):
    customer_id = Match.objects.filter(job=job, type=MatchType.objects.get_or_create(name='Customer')[0]).values('user')[0]
    return User.objects.get(id=customer_id['user'])

def get_job_to_customer(jobs):
    job_to_customer = {}  # Создаем пустой словарь

    for job in jobs:
        customer = get_customer(job)
        if customer:
            job_to_customer[job] = customer

    return job_to_customer


def participant_count(request, job):
    matches = Match.objects.filter(job=job)
    count = matches.count()
    context = {'count': count}
    return render(request, 'joined_into_job.html', context)


class ParticipantCount:
    def __init__(self, jobs):
        self.counts = {}
        for job in jobs:
            matches = Match.objects.filter(job=job)
            count = matches.count()
            self.counts[job] = count

    def get_count(self, job):
        return self.counts[job]


def home(request):
    q = request.GET.get('q') if request.GET.get('q') != None else ''

    jobs = Job.objects.filter(
        Q(topic__name__icontains=q) |
        Q(name__icontains=q) |
        Q(description__icontains=q)
    )
    for job in jobs:
        job.__dict__['participant_count'] = Match.objects.filter(job=job).count()
        job.__dict__['participants'] = [match.user for match in Match.objects.filter(job=job)]
        job.__dict__['cost'] = round(job.__dict__['cost'])

    topics = Topic.objects.all()[0:5]
    job_count = jobs.count()
    job_messages = Message.objects.filter(
        Q(job__topic__name__icontains=q))[0:3]

    job_to_customer = get_job_to_customer(jobs)  
    context = {'jobs': jobs, 
               'job_to_customer': job_to_customer, 
               'topics': topics,
               'job_count': job_count, 
               'job_messages': job_messages}


    return render(request, 'base/home.html', context)


def jobRoom(request, pk):
    job = Job.objects.get(id=pk)
    job_messages = job.message_set.all()
    participants_id = Match.objects.filter(job=job).values('user')
    participants = User.objects.filter(id__in=[user_id['user'] for user_id in participants_id])
    print()
    if request.method == 'POST':
        message = Message.objects.create(
            user=request.user,
            job=job,
            body=request.POST.get('body')
        )
        message.save()
        if Match.objects.filter(user=request.user).count() == 0:
            match = Match.objects.create(
                job = job,
                user = request.user,
                type = MatchType.objects.get_or_create(name='Participant')[0]
            )
            match.save()
        return redirect('job', pk=job.id)

    customer_id = Match.objects.filter(job=job, type=MatchType.objects.get_or_create(name='Customer')[0]).values('user')
    job_customer = User.objects.filter(id=customer_id[0]['user'])[0]

    if str(request.user) != 'AnonymousUser':
        matches = Match.objects.filter(Q(user=request.user) &amp; Q(job=job))
        statuses = [match.type.name for match in matches]
    else:
        statuses = []

    status = None
    if len(statuses) == 0:
        status = None
    elif 'Performer' in statuses:
        status = 'Performer'
    elif 'Сandidate' in statuses:
        pass

        status = 'Candidate'
    elif 'Participant' in statuses:
        status = 'Participant'

    context = {'job': job, 'job_messages': job_messages,
               'participants': participants,
               'job_customer': job_customer,
               'status': status}
    return render(request, 'base/job.html', context)


def userProfile(request, pk):
    user = User.objects.get(id=pk)
    jobs = Job.objects.filter(id__in=[x['job'] for x in 
        Match.objects.filter(user=user, type=MatchType.objects.get_or_create(name='Customer')[0].id).values('job')
    ])
    job_messages = user.message_set.all()
    topics = Topic.objects.all()
    job_to_customer = get_job_to_customer(jobs)
    context = {'user': user, 'job_to_customer': job_to_customer,
               'job_messages': job_messages, 'topics': topics}
    return render(request, 'base/profile.html', context)


def userBalance(request, pk): # TODO:
    user = User.objects.get(id=pk)
    transactions = user.transaction_set.all()
    context = {
        'user': user,
        'transactions': transactions
    }
    return render(request, f'base/balance.html', context)


@login_required(login_url='login')
def createJob(request):
    form = JobForm()
    topics = Topic.objects.all()
    if request.method == 'POST':
        topic_name = request.POST.get('topic')
        topic, created = Topic.objects.get_or_create(name=topic_name)

        job = Job.objects.create(
            topic=topic,
            name=request.POST.get('name'),
            description=request.POST.get('description'),
            status = JobStatus.objects.get_or_create(name='Find performer')[0],
            cost=request.POST.get('cost'),
        )
        job.save()
        match = Match.objects.create(
            job = job,
            user = request.user,
            type = MatchType.objects.get_or_create(name='Customer')[0],
        )
        match.save()
        return redirect('home')

    context = {'form': form, 'topics': topics}
    return render(request, 'base/job_form.html', context)


@login_required(login_url='login')
def updateJob(request, pk):
    job = Job.objects.get(id=pk)
    form = JobForm(instance=job)
    topics = Topic.objects.all()
    customer_id = Match.objects.filter(job=job, type=MatchType.objects.get_or_create(name='Customer')[0]).values('user')
    job_customer = User.objects.filter(id=customer_id[0]['user'])[0]
    if request.user != job_customer:
        return HttpResponse('Your are not allowed here!!')

    if request.method == 'POST':
        topic_name = request.POST.get('topic')
        topic, created = Topic.objects.get_or_create(name=topic_name)
        job.name = request.POST.get('name')
        job.topic = topic
        job.description = request.POST.get('description')
        job.cost = request.POST.get('cost')
        job.save()
        return redirect('home')

    context = {'form': form, 'topics': topics, 'job': job}

    return render(request, 'base/job_form.html', context)


def get_customer(job):
    customer_id = Match.objects.filter(job=job, type=MatchType.objects.get_or_create(name='Customer')[0]).values('user')
    job_customer = User.objects.filter(id=customer_id[0]['user'])[0]
    return job_customer


@login_required(login_url='login')
def deleteJob(request, pk):
    job = Job.objects.get(id=pk)
    job_customer = get_customer(job)

    if request.user != job_customer:
        return HttpResponse('Your are not allowed here!!')

    if request.method == 'POST':
        job.delete()
        return redirect('home')
    context = {'obj': job}
    return render(request, 'base/delete.html', {})


@login_required(login_url='login')
def deleteMessage(request, pk):
    message = Message.objects.get(id=pk)

    if request.user != message.user:
        return HttpResponse('Your are not allowed here!!')

    if request.method == 'POST':
        message.delete()
        return redirect('home')
    return render(request, 'base/delete.html', {'obj': message})


@login_required(login_url='login')
def updateUser(request):
    user = request.user
    form = UserForm(instance=user)

    if request.method == 'POST':
        form = UserForm(request.POST, request.FILES, instance=user)
        if form.is_valid():
            form.save()
            return redirect('user-profile', pk=user.id)

    return render(request, 'base/update-user.html', {'form': form})


def topicsPage(request):
    q = request.GET.get('q') if request.GET.get('q') != None else ''
    topics = Topic.objects.filter(name__icontains=q)
    return render(request, 'base/topics.html', {'topics': topics})


def activityPage(request):
    job_messages = Message.objects.all()
    return render(request, 'base/activity.html', {'job_messages': job_messages})


@login_required(login_url='login')
def respond(request, pk):
    job = Job.objects.get(id=pk)
    job_customer = get_customer(job)
    сandidate_matches = Match.objects.filter(Q(user=request.user)&amp;
                                           Q(job=job)&amp;
                                           Q(type=MatchType.objects.get_or_create(name='Сandidate')[0]))
    if request.user == job_customer:
        return HttpResponse('Your are the creator of this job!!')
    if request.user in [match.user for match in сandidate_matches]:
        return HttpResponse('Вы уже стали кандидатом!!')
    if request.method == 'POST':
        match = Match.objects.filter(job=job)
        match = Match.objects.create(
            job = job,
            user = request.user,
            type = MatchType.objects.get_or_create(name='Сandidate')[0],
        )
        match.save()
        return redirect('home') 

    context = {'obj': job}
    return render(request, 'base/respond.html', context)


@login_required(login_url='login')
def unrespond(request, pk):
    job = Job.objects.get(id=pk)
    job_customer = get_customer(job)
    сandidate_matches = Match.objects.filter(Q(user=request.user)&amp;
                                           Q(job=job)&amp;
                                           Q(type=MatchType.objects.get_or_create(name='Сandidate')[0]))
    if request.user == job_customer:
        return HttpResponse('Your are the creator of this job!!')

    if request.user not in [match.user for match in сandidate_matches]:
        return HttpResponse('Вы не являетесь кандидатом!!')

    if request.method == 'POST':
        match = Match.objects.get(
            job = job,
            user = request.user,
            type = MatchType.objects.get_or_create(name='Сandidate')[0],
        )
        match.delete()
        return redirect('home') 

    context = {'obj': job}
    return render(request, 'base/unrespond.html', context)
</code></pre></div>
            </div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script src="../js/jquery-3.6.0.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script>
            var base_url = "..",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        </script>
        <script src="../js/base.js"></script>

        <div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    <script>const lightbox = GLightbox({"touchNavigation": true, "loop": false, "zoomable": true, "draggable": true, "openEffect": "zoom", "closeEffect": "zoom", "slideEffect": "slide"});</script></body>
</html>
