<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div id="header">
    <div class="container mt-5">
    <span class="user">
            {{ request.user }}
        <p><a href="{% url 'logout' %}" class="btn btn-primary mb-2">Logout</a></p>

    </span>
    </div>
    <div class="container mt-5">
    <h1>Dashboard</h1>
    <p>Select an option:</p>
        <p><a href="{% url 'races_list' %}" class="btn btn-primary">Race table</a></p>
        <p><a href="{% url 'redact_user' %}" class="btn btn-primary mb-2">Redact user</a></p>
        <p><a href="{% url 'change_password' %}" class="btn btn-primary mb-2">Change password</a></p>
        {% if not has_racer %}
        <p><a href="{% url 'registrate_racer' %}" class="btn btn-primary mb-2">Registrate a racer</a></p>
        {% else %}
        <p><a href="{% url 'redact_racer' %}" class="btn btn-primary mb-2">Redact a racer</a></p>
        {% endif %}
    </div>
</div>
</body>
</html>
