<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Home page</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Welcome</h1>
        <a href="{% url 'login' %}" class="btn btn-primary mb-2">Login</a>
        <a href="{% url 'registrate' %}" class="btn btn-secondary mb-2">Registration</a>
    </div>
    </body>
</html>
