<!-- C:\WEBDJANGO\myproject\myapp\templates\tour_detail.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{{ tour.title }}</title>
</head>
<body>

<h2>{{ tour.title }}</h2>
<p>{{ tour.description }}</p>
<p>Period: {{ tour.period }}</p>
<p>Payment Conditions: {{ tour.payment_conditions }}</p>

<!-- Форма для резервирования тура -->
<form method="post" action="{% url 'reserve_tour' tour.id %}">
    {% csrf_token %}
    <button type="submit">Reserve</button>
</form>

<!-- Отображение отзывов -->
<h3>Reviews</h3>
{% for review in reviews %}
    <p>{{ review.user.username }} - Rating: {{ review.rating }} - {{ review.text }} - {{ review.date_added }}</p>
{% endfor %}

<!-- Форма для добавления отзыва -->
<h3>Add a Review</h3>
<form method="post" action="{% url 'tour_detail' tour_id=tour.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Review</button>
</form>



</body>
</html>
