{% extends "../base.html" %}

{% block content %}

<h1 class="display-8 fw-bold">Создать домашнее задание</h1>
<div class="col-lg-6 bg-white">
    <div class="d-flex align-items-center px-4 px-lg-5 h-100">
        <form class="registration-form py-5 w-100" method="post">
            {% csrf_token %}
            <div class="input-material-group mb-3">
                <label for="{{ form.name.id_for_label }}">Название:</label>
                {{ form.name }}
            </div>
            <div class="input-material-group mb-3">
                <label for="{{ form.subject.id_for_label }}">Предмет:</label>
                {{ form.subject }}
            </div>
            <div class="input-material-group mb-3">
                <label for="{{ form.class_it_is_assigned_to.id_for_label }}">Класс:</label>
                {{ form.class_it_is_assigned_to }}
            </div>
            <div class="input-material-group mb-3">
                <label for="{{ form.deadline_date.id_for_label }}">Дедлайн:</label>
                {{ form.deadline_date }}
            </div>
            <div class="input-material-group mb-3">
                <p>Задание:</p>
                {{ form.assignment_text }}
            </div>
            <div class="input-material-group mb-3">
                <p>Штраф:</p>
                {{ form.fines_information }}
            </div>
            <button class="btn btn-primary" type="submit">Создать</button>
            <a href="{% url 'all_homeworks' %}" class="btn btn-secondary">Назад</a>
        </form>
    </div>
</div>

{% endblock %}

