{% extends "../base.html" %}

{% block content %}

<div class="form-container">
    <form method="GET">
        <input type="text" name="q" placeholder="Поиск д/з по названию и тексту задания" style="width: 315px;">
        <select name="subject">
            <option value="any">Все</option>
            {% for subject in subject_list %}
            <option value="{{ subject }}">{{ subject }}</option>
            {% endfor %}
        </select>
        <select name="class">
            <option value="any">Все</option>
            {% for class in class_list %}
            <option value="{{ class }}">{{ class }}</option>
            {% endfor %}
        </select>
        <label>
            <input type="checkbox" name="notdone" value="notdone"> Не проверенные
        </label>
        <button class="btn btn-primary" type="submit">
            <i class="fas fa-search"></i>
        </button>
        <a href="{% url 'add_homework' %}" class="btn btn-primary">
            <i class="fas fa-plus"></i>
        </a>
        <a href="{% url 'homepage' %}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i>
        </a>
    </form>
    <br>
</div>

<div class="row-gy-4">
    <div class="col-lg-6">
        {% for homework_display in page_obj %}
        <div class="card mb-4">
            <div class="card-header position-relative">
                <h2 class="h2 fw-normal text-dark mb-0"><a href="{{ homework_display.get_absolute_url_teacher }}">{{ homework_display }}</a></h2>
            </div>
            <div class="card-body p-0">
                <div class="p-4">
                    <p>Предмет: {{ homework_display.subject }}</p>
                    <p>Класс: {{ homework_display.class_it_is_assigned_to }}</p>
                    <p>{{ homework_display.get_dates }}</p>
                    <p>Сделали/не проверено: {{ homework_display.submitted_num }}/{{ homework_display.not_checked_num }}</p>
                    <p>Задание: {{ homework_display.snippet }}...</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include "../../includes/pagination.html" %}

<script>
document.addEventListener("DOMContentLoaded", function() {
    // Get the query parameters from the URL
    const urlParams = new URLSearchParams(window.location.search);

    // Get the values of the 'subject' and 'class' query parameters
    const selectedSubject = urlParams.get('subject');
    const selectedClass = urlParams.get('class');

    // Set the selected values in the 'subject' and 'class' select elements
    const searchFieldValue = urlParams.get('q');

    // Get the value of the 'notdone' query parameter (checkbox)
    const notDoneChecked = urlParams.get('notdone') === 'notdone';

    // Set the selected values in the 'subject' and 'class' select elements
    if (selectedSubject) {
        document.querySelector('select[name="subject"]').value = selectedSubject;
    }

    // Set the value of the 'q' query parameter in the search field
    if (searchFieldValue) {
        document.querySelector('input[name="q"]').value = searchFieldValue;
    }

    // Set the checked state of the 'notdone' query parameter in the checkbox
    if (notDoneChecked) {
        document.querySelector('input[name="notdone"]').checked = true;
    }

    if (selectedClass) {
        document.querySelector('select[name="class"]').value = selectedClass;
    }
});
</script>


{% endblock %}
