{% extends "../base.html" %}

{% block content %}

<div class="row-gy-4">
    <div class="col-lg-6">
        <p>Название: {{ homework.name }}</p>
        <p>Предмет: {{ homework.subject }}</p>
        <p>Класс: {{ homework.class_it_is_assigned_to }}</p>
        <p>{{ homework.get_dates }}</p>
        <p>Задание: {{ homework.assignment_text }}</p>
        <p>Штраф: {{ homework.fines_information|default:"-" }}</p>
    </div>
</div>
<div class="form-container">
    <form method="GET">
        <input type="text" name="search_text" placeholder="Поиск по тексту ответа и ФИО" style="width: 340px;">
        <label>
            <input type="checkbox" name="notdone" value="notdone"> Ещё не оценено
        </label>
        <button class="btn btn-primary" type="submit">
            <i class="fas fa-search"></i>
        </button>
        <a href="{% url 'teacher_homework_detail' homework.id %}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i>
        </a>
    </form>
    <br>
</div>
<div class="row-gy-4">
    <div class="col-lg-6">
        {% for submission in page_obj %}
        <div class="card mb-4">
            <div class="card-header position-relative">
                <h2 class="h2 fw-normal text-dark mb-0"><a href="{{ submission.get_absolute_url }}">{{ submission.student.fio }}</a></h2>
            </div>
            <div class="card-body p-0">
                <div class="p-4">
                    <p>Дата сдачи: {{ submission.submission_date }}</p>
                    <p>Ответ: {{ submission.snippet }}...</p>
                    <p>Оценка: {{ submission.grade|default:"-" }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include "../../includes/pagination.html" %}

<script>
document.addEventListener("DOMContentLoaded", function() {
    // Get the query parameters from the URL
    const urlParams = new URLSearchParams(window.location.search);

    // Set the selected values in the 'subject' and 'class' select elements
    const searchFieldValue = urlParams.get('q');

    // Get the value of the 'notdone' query parameter (checkbox)
    const notDoneChecked = urlParams.get('notdone') === 'notdone';

    // Set the value of the 'q' query parameter in the search field
    if (searchFieldValue) {
        document.querySelector('input[name="q"]').value = searchFieldValue;
    }

    // Set the checked state of the 'notdone' query parameter in the checkbox
    if (notDoneChecked) {
        document.querySelector('input[name="notdone"]').checked = true;
    }
});
</script>

{% endblock %}
