{% extends "../base.html" %}

{% block content %}

<h1 class="display-8 fw-bold">Редактировать домашнее задание</h1>
<div class="col-lg-6 bg-white">
    <div class="d-flex align-items-center px-4 px-lg-5 h-100">
        <form class="registration-form py-5 w-100" method="post" action="{% url 'update_homework' homework.id %}">
            {% csrf_token %}
            <div class="input-material-group mb-3">
                <label for="name">Название:</label>
                <input type="text" name="name" value="{{ form.initial.name }}">
            </div>
            <div class="input-material-group mb-3">
                <label for="subject">Предмет:</label>
                <select name="subject">
                    {% for subject in subjects %}
                    <option value="{{ subject.id }}" {% if subject.id == form.initial.subject %}selected{% endif %}>{{ subject.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-material-group mb-3">
                <label for="class_it_is_assigned_to">Класс:</label>
                <select name="class_it_is_assigned_to">
                    {% for class in classes %}
                    <option value="{{ class.id }}" {% if class.id == form.initial.class_it_is_assigned_to %}selected{% endif %}>{{ class.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-material-group mb-3">
                <label for="deadline_date">Дедлайн:</label>
                <input type="date" name="deadline_date" value="{{ form.initial.deadline_date | date:'c' }}">
            </div>
            <div class="input-material-group mb-3">
                <p>Задание:</p>
                <textarea name="assignment_text" rows="4" cols="50">{{ form.initial.assignment_text }}</textarea>
            </div>
            <div class="input-material-group mb-3">
                <p>Штраф:</p>
                <textarea name="fines_information" rows="4" cols="50">{{ form.initial.fines_information }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="{% url 'teacher_homework_detail' homework.id %}" class="btn btn-secondary">Назад</a>
        </form>
    </div>
</div>

{% endblock %}
