<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View reservation</title>
</head>
<body>
    <h1>Your current reservations</h1>
      <!-- Iterate over object_list -->
      {% for reservation in object_list %}
      <div>
          <a href="/reservations/{{ reservation.id }}">{{ reservation.tour.name }}</a>
          <div>{{ reservation.tour.country }}</div>
          <div>{{ reservation.start_date }}</div>
          <div>{{ reservation.end_date }}</div>
      </div>

      <!-- If objet_list is empty  -->
      {% empty %}
      <div>No objects yet.</div>
      {% endfor %}
</body>
</html>