{% extends 'air_tickets_booking/base.html' %} {% block content %}

<h1>Билет на рейс {{ticket.flight.name}}</h1>
<h2>Место: {{ticket.seat}}</h1>

<h2>Изменить место</h2>
<form method="POST">
  {% csrf_token %}

  <div class="mb-3">
    <label for="{{form.seat.id_for_label}}" class="form-label">Место</label>
    <input name="seat" class="form-control" valu="{{form.seat.value}}" id="{{form.seat.id_for_label}}">
  </div>

  <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

{% endblock %}
