{% extends 'air_tickets_booking/base.html' %} {% block content %}

<h1>Вход</h1>

<form method="POST">
  {% csrf_token %}

  <div class="mb-3">
    <label for="{{form.username.id_for_label}}" class="form-label">Никнейм</label>
    <input name="username" class="form-control" id="{{form.username.id_for_label}}">
  </div>

  <div class="mb-3">
    <label for="{{form.password.id_for_label}}" class="form-label">Пароль</label>
    <input name="password" type="password" class="form-control" id="{{form.password.id_for_label}}">
  </div>

  <button type="submit" class="btn btn-primary">Войти</button>
</form>

{% endblock %}
