{% extends "../base.html" %}

{% block content %}

<div class="row-gy-4">
    <div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-header position-relative">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <h2 class="h2 fw-normal text-dark mb-0">{{ homework_display.homework.name }}</h2>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'student_homeworks' %}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="p-4">
                    <p>Предмет: {{ homework_display.homework.subject }}</p>
                    <p>{{ homework_display.homework.get_dates }}</p>
                    <p>Оценка: {{ homework_display.get_grade|default:"-" }}</p>
                    <p>Задание: {{ homework_display.homework.assignment_text }}</p>
                    <p>Штраф: {{ homework_display.homework.fines_information|default:"-" }}</p>
                    {% if not homework_display.get_grade %}
                    <form method="post" action="{% url 'homework_detail' homework_display.homework.id %}">
                        {% csrf_token %}
                        <label for="submission_text">Решение (можно менять до проверки):</label><br><br>
                        <textarea class="input-material-group mb-4" name="submission_text" rows="4" cols="50">{{ form.initial.submission_text }}</textarea><br>
                        <button class="btn btn-primary mb-3" type="submit">Отправить</button>
                    </form>
                    {% else %}
                    <p>Текст сданной работы: {{ homework_display.submission.submission_text }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
