{% extends "../base.html" %}

{% block content %}

<div class="row-gy-4">
    <div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-header position-relative">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <h2 class="h2 fw-normal text-dark mb-0">Вы вошли как ученик (пользователь)</h2>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'update_user_profile' user.id %}" class="btn btn-primary">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'homepage' %}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        <div class="card-body p-0">
            <div class="p-4">
                <p>Логин: {{ user.username }}</p>
                <p>ФИО: {{ user.fio }}</p>
                <p>Класс: {{ user.student_class }}</p>
                <p>Дата рождения: {% if user.date_of_birth %}{{ user.date_of_birth }}{% else %}-{% endif %}</p>
                <p>Адрес: {% if user.address %}{{ user.address }}{% else %}-{% endif %}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

