{% extends "base.html" %}

{% block header %}
    <title>Profile</title>
{% endblock %}

{% block body %}
    <h2>{{ user.username }}</h2>

    <h3>Info</h3>
    <p>First name: {{ user.first_name }} </p>
    <p>Last name: {{ user.last_name }}</p>

    <h3>Tours</h3>
    <div class="reservations" style="margin-left: 20px">
    {% for r in reservations %}
        {% include 'common/tour.html' with tour=r.tour %}
        {% if r.is_confirmed %}
            <p><i>Confirmed</i></p>
        {% else %}
            <p><i>Not confirmed</i></p>
        {% endif %}
        <a href="/cancel_reservation/{{ r.pk }}">Cancel</a>
    {% endfor %}
    </div>
{% endblock %}