<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Our Tours</h1>

    <h2>List of Tours</h2>
    <ul>
        {% for tour in tours %}
            <li>
                <strong>{{ tour.title }}</strong> - {{ tour.description }}<br>
                <!-- Отзывы к туру -->
                <ul>
                    {% for review in tour.review_set.all %}
                        <li>{{ review.text }} - Rating: {{ review.rating }} - {{ review.comment_date }}</li>
                    {% empty %}
                        <li>No reviews yet.</li>
                    {% endfor %}
                </ul>

                <!-- Форма для добавления отзыва -->
                <form method="post" action="{% url 'add_review' tour_id=tour.id %}">
                    {% csrf_token %}
                    {{ form.text }}
                    {{ form.rating }}
                    <button type="submit">Add Review</button>
                </form>

                <a href="{% url 'create_reservation' %}">Reserve Tour</a>
            </li>
        {% empty %}
            <p>No tours available.</p>
        {% endfor %}
    </ul>
</body>
</html>
