<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
<style>
    /* base.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

#content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #007bff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 10px;
}

</style>
    <h1>Welcome to Our Tours</h1>

    <h2>List of Tours</h2>
    <ul>
        {% for tour in tours %}
            <li>
                <strong>{{ tour.title }}</strong> - {{ tour.description }}<br>
                <!-- Отзывы к туру -->
                <ul>
                    {% for review in tour.review_set.all %}
                        <li>{{ review.text }} - Rating: {{ review.rating }} - {{ review.comment_date }}</li>
                    {% empty %}
                        <li>No reviews yet.</li>
                    {% endfor %}
                </ul>

                <!-- Форма для добавления отзыва -->
                <form method="post" action="{% url 'add_review' tour_id=tour.id %}">
                    {% csrf_token %}
                    {{ form.text }}
                    {{ form.rating }}
                    <button type="submit">Add Review</button>
                </form>

                <a href="{% url 'create_reservation' %}">Reserve Tour</a>
            </li>
        {% empty %}
            <p>No tours available.</p>
        {% endfor %}
    </ul>
<a href="{% url 'login' %}">login</a> <br>
<a href="{% url 'home' %}">home</a> <br>
<a href="{% url 'reservations_list' %}">reservations_list</a> <br>
<a href="{% url 'tours_with_reservation_count' %}">tours_with_reservation_count</a> <br>
</body>
</html>
