<html>
    <body>
        <h1>All car owners</h1>
        <ol>
        {% for owner in owners %}
            <li>
                <h3>{{ owner.name }} {{ owner.surname }}</h3> 
                <p>Birth date: {{ owner.date_of_birth }}</p>
                <p>Passport number: {{ owner.passport_number }}</p>
                <p>Home address: {{ owner.home_address }}</p>
                <p>Nationality: {{ owner.nationality }}</p>
            </li>
        {% endfor %}
        </ol>
    </body>
</html>