{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <h1 class="mb-4">Вход</h1>

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field|add_class:"form-control" }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}

                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}">
                {% endif %}

                <button type="submit" class="btn btn-primary mb-3 mt-3">Войти</button>
            </form>

            <p>Еще не зарегистрированы? <a href="{% url 'register' %}">Регистрация</a></p>
        </div>
    </div>
</div>
{% endblock %}
