<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Имя гостя</th>
            <th>Начальная дата</th>
            <th>Конечная дата</th>
        </tr>
    </thead>
    <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.guest_name }}</td>
                <td>{{ reservation.start_date }}</td>
                <td>{{ reservation.end_date }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
