// app global css in SCSS form
@import '@/css/quasar.variables.scss';

.text {
    color: $text;
}

.border-hover:hover {
    border-color: $secondary;
}

.border-hover {
    border: 1px solid transparent;
    transition: border-color 0.2s;
}

.input-field {
    font-size: 20px !important;
    color: $text !important;
    appearance: textfield;
}

.active {
    stroke: $secondary !important;
}

.item-label {
    color: $secondary;
}

.item-value {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    cursor: pointer;
}