{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Мои туры</h1>
  <ul class="list-group">
    {% for data in dataset %}
    <li class="list-group-item">
      <h2>
        <a href="{% url 'tour_page' data.tour.id %}">{{ data.tour.name }}</a>
      </h2>
      <p class="mb-0">Турагенство: {{ data.tour.agency_name }}</p>
      <p class="mb-0">цена: {{ data.tour.price }}</p>
      <p class="mb-0">Статус: {{ data.status }}</p>
    </li>
    {% empty %}
    <li class="list-group-item">Нет зарезервированных туров</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
