
    {% extends 'base.html' %}

    {% block content %}
        <h2>{{ conference.name }}</h2>
        <p><strong>Место проведения:</strong> {{ conference.location }}</p>
        <p><strong>Период проведения:</strong> {{ conference.date }}</p>

        <h3>Зарегистрированные авторы</h3>
        <ul>
            {% for registration in registrations %}
                <li>{{ registration.user.username }} ({{ registration.date_registered }})</li>
            {% endfor %}
        </ul>

        <h3>Комментарии</h3>
        <ul>
            {% for comment in comments %}
                <li>
                    <strong>{{ comment.user.username }}:</strong>
                    {{ comment.text }} ({{ comment.date_created }})
                </li>
            {% endfor %}
        </ul>

        <a href="{% url 'register_author' pk=conference.pk %}">Зарегистрироваться как автор</a>
        <a href="{% url 'write_comment' pk=conference.pk %}">Оставить комментарий</a>
    {% endblock %}

