<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/indexMyStyle.css' %}" type="text/css" rel="stylesheet">
</head>
<body>

    <header class="rounded bg-dark p-4 text-light">
        <h1>{{ user.username }}</h1>
        <button class="btn btn-lg btn-primary" onclick="location.href='logout/';">Выйти</button>
        <button class="btn btn-lg btn-primary" onclick="location.href='profile/{{ user.id }}';">Профиль</button>
    </header>
    <main class="bg-warning p-2">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Duration (days)</th>
                <th>Type</th>
                <th>Cost (Ruble)</th>
                <td></td>
            </tr>
            {% for data in dataset %}
                <tr>
                    <td>{{ data.name }}</td>
                    <td>{{ data.target }}</td>
                    <td>{{ data.duration }}</td>
                    <td>{{ data.type }}</td>
                    <td>{{ data.cost }}</td>
                    <td><button class="btn btn-sm btn-dark" onclick="location.href='/TytTour/order/{{ data.id }}';">Забронировать</button></td>
                </tr>
            {% endfor %}
        </table>
    </main>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>