<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бронь полета</title>
</head>
<body>
<table>
    <tr>
        <th>Номер рейса</th>
        <th>Наименование компании</th>
        <th>Номер самолета</th>
        <th>Gate</th>
        <th>Посадочное место</th>
        <th>Время отправления</th>
        <th>Время прибытия</th>
        <th></th>
    </tr>
    <tr>
        <td>{{ flight.id }}</td>
        <td>{{ flight.company_name }}</td>
        <td>{{ flight.plane_number }}</td>
        <td>{{ flight.gate }}</td>
        <td>{{ flight.seat_place }}</td>
        <td>{{ flight.date_departures }}</td>
        <td>{{ flight.date_arrivals }}</td>
        <td>
            <form action="" method="post">
                {% csrf_token %}
                <button type="submit">Забронировать</button>
            </form>
        </td>
    </tr>
</table>
        Пассажиры

        {% for passenger in passengers %}
            <p>{{ passenger.user.first_name }}</p>
        {% endfor %}

<a href="{% url 'main_page' %}">вернуться назад</a>
</body>
</html>