<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль {{ request.user }}</title>
</head>
<body>
<a href="{% url 'logout' %}"><p>Выйти из аккаунта</p></a>
<a href="{% url 'main_page' %}">На главную</a>

<br>
<br>

<h1>Информация о полете</h1>
{% if booking%}

    <div class="profile">
    <table>
    <tr>
        <th>Номер рейса</th>
        <th>Наименование компании</th>
        <th>Номер самолета</th>
        <th>Gate</th>
        <th>Посадочное место</th>
        <th>Время отправления</th>
        <th>Время прибытия</th>
    </tr>
    {% for book in booking %}
        <tr>
            <td><a href="{% url 'detail_flight' book.flight.id %}">{{ book.flight.id }}</a></td>
            <td>{{ book.flight.company_name }}</td>
            <td>{{ book.flight.plane_number }}</td>
            <td>{{ book.flight.gate }}</td>
            <td>{{ book.flight.seat_place }}</td>
            <td>{{ book.flight.date_departures }}</td>
            <td>{{ book.flight.date_arrivals }}</td>
            <td><a href="{% url 'edit_booking' book.id %}">изменить бронь</a></td>
            <td><a href="{% url 'delete_booking' book.id %}">отменить бронь</a></td>
        </tr>
    {% endfor %}
{% else %}
    <h1>Вы никуда не летите</h1>
{% endif %}
</table>


</div>
</body>
</html>