{% extends 'base.html' %}

{% block content %}
  <h2>Постояльцы отелей за последний месяц</h2>

  {% for hotel_name, reservations in hotels_with_guests.items %}
    <h3>{{ hotel_name }}</h3>
    <table>
      <thead>
        <tr>
          <th>Имя гостя</th>
          <th>Дата заезда</th>
          <th>Дата выезда</th>
        </tr>
      </thead>
      <tbody>
        {% for reservation in reservations %}
          <tr>
            <td>{{ reservation.user.username }}</td>
            <td>{{ reservation.start_date }}</td>
            <td>{{ reservation.end_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% empty %}
    <p class="no-show">За последний месяц постояльцев не было.</p>
  {% endfor %}

{% endblock %}