{% extends "base.html" %}

{% block content %}
  <h2>Ваши резервации</h2>
  <ul>
    {% for reservation in reservations %}
      <li>
        <p>Отель: {{ reservation.room.hotel.name }}</p>
        <p>Тип комнаты: {{ reservation.room_type }}</p>
        <p>Дата заезда: {{ reservation.start_date }}</p>
        <p>Дата выезда: {{ reservation.end_date }}</p>
        <a href="{% url 'reservation_edit' reservation_id=reservation.pk %}">Редактировать</a>
        <a href="{% url 'reservation_delete' reservation_id=reservation.pk %}">Удалить</a>
      </li>
    {% empty %}
      <li>У вас нет активных резерваций.</li>
    {% endfor %}
  </ul>
{% endblock %}
