<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Comments to the race {{ race.id }}</title>
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Гонка #{{ race.id }}</h1>
    <a href="{% url 'races_list' %}" class="btn btn-primary mb-4">Назад</a>
    <h2 class="mb-3">Добавление комментария</h2>
    <form method="post" class="mb-5">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
    <h2 class="mb-3">Комментарии:</h2>
    <ul class="list-group">
        {% for comment in comments %}
        <li class="list-group-item">
            <strong>{{ comment.author }}</strong> ({{ comment.created_at }})
            <br>
            Тип: {{ comment.get_comment_type_display }}
            <br>
            Рейтинг: {{ comment.rating }}
            <br>
            {{ comment.text }}
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>