<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Управление профилем</title>
</head>
<body>
<div class="container">
    <a href="{% url 'races_list' %}">К таблице</a>
    <h1>Управление профилем</h1>
    <h2>Обновление данных пользователя</h2>
    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        <button type="submit">Обновить</button>
    </form>
    {% if racer_form %}
    <h2>Обновление данных гонщика</h2>
    <form method="post">
        {% csrf_token %}
        {{ racer_form.as_p }}
        <button type="submit">Обновить</button>
    </form>
    {% endif %}
    <h2>Смена пароля</h2>
    <form method="post">
        {% csrf_token %}
        {{ password_form.as_p }}
        <button type="submit">Сменить пароль</button>
    </form>
    <h2>Удаление профиля</h2>
    <a href="{% url 'delete_profile' %}">Удалить профиль</a>
</div>
</body>
</html>
