{% extends '../base.html' %}

{% block content %}


<h1 class="display-6 fw-bold">Вход в HomeworkBoard</h1>
<div class="col-lg-6 bg-white">
    <div class="d-flex align-items-center px-4 px-lg-5 h-100">
        <form class="login-form py-5 w-100" method="POST">
            {% csrf_token %}
            <label for="{{ login_form.username.id_for_label }}">Логин:</label>
            <div class="input-material-group mb-3">
                {{ login_form.username }}
            </div>
            <label for="{{ login_form.password.id_for_label }}">Пароль:</label>
            <div class="input-material-group mb-4">
                {{ login_form.password }}
            </div>
            <button class="btn btn-primary mb-3" id="login" type="submit">Войти</button>
            <br>
            <small class="text-gray-500">Ещё нет аккаунта? </small><a class="text-sm text-paleBlue"
                                                                      href="{% url 'register' %}">Зарегистрироваться</a>
        </form>
    </div>
</div>


{% endblock %}