<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Available tours</title>
</head>
<body>
  <div>
      <h1>List of available tours</h1>
      <!-- Iterate over object_list -->
      {% for tour in object_list %}
      <div>
          <a href="/tours/{{ tour.id }}">{{ tour.name }}</a>
          <div>{{ tour.country }}</div>
          <div>{{ tour.destination }}</div>
          <div>{{ tour.description }}</div>
      </div>

      <!-- If objet_list is empty  -->
      {% empty %}
      <div>No objects yet.</div>
      {% endfor %}
  </div>
</body>
</html>