{% extends 'base.html' %}

{% block content %}
<h2> {{ flight.departure_site }} - {{ flight.landing_site }} </h2>
<h3> {{ flight.departure_time }} - {{ flight.landing_time }} </h3>
<p>
    Авиакомпания "{{ flight.airline }}"  {{ flight.plane_id.name }} </br>
</p></br>


<br/>
<hr>
<h5>ОТЗЫВЫ</h5>
<br/>
{% if not flight.comments.all %}
    This post doesn't have any comments yet<a href="{% url 'add-comment' flight.pk %}">  Add first</a>
    <br/><br/>
    <hr>
{% else %}
    <a href="{% url 'add-comment' flight.pk %}">Add comment</a>
    <br/><br/>
    {% for comment in flight.comments.all %}
        <strong>{{ comment.author.first_name }}  {{ comment.author.last_name }}</strong><br/>
        <small>Дата добавления: {{ comment.date_added }} </small><br/>
        Оценка: {{ comment.rating }}</br>
        <br/>{{ comment.text }}
        <br/>
        <hr>
    {% endfor %}
{% endif %}
<br/><br/>



<a href="{% url 'user-page' user.pk %}" class="btn btn-dark">Назад</a>

{% endblock %}