<!-- carowner_detail.html -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car Detail</title>
</head>

<body>
    Гос номер: {{ object.govNumber }} </br>
    Марка: {{ object.brand }} </br>
    Модель: {{ object.model }} </br>
    Модель: {{ object.color }} </br>
    <br/>
    <a href="delete/">Удалить</a></br>
    <br/>
    <hr/>
    <a href="/car/">Назад...</a></br>
    <a href="update/">Изменить...</a></br>

</body>
</html>