{% block title %}Enter your seat number{% endblock %}

{% block content %}
	<div class="content-section">
    {% if reservation_id %}
		<form method="POST" action="/airport/make_reservation/{{ flight_id }}/{{ reservation_id }}/">
			{% csrf_token %}
			{{ form }}
			<button name="create" type="submit">Make reservation</button>
		</form>
    {% else %}
		<form method="POST" action="/airport/make_reservation/{{ flight_id }}/">
			{% csrf_token %}
			{{ form }}
			<button name="create" type="submit">Make reservation</button>
		</form>
    {% endif %}
	</div>
{% endblock %}

<form action="http://127.0.0.1:8000/airport">
    <input type="submit" value="Return to the main page" />
</form>