{% extends 'base.html' %} {% block content %}

<h2 class="mb-4">Рейсы</h2>
<table class="table table-bordered">
    <thead class="thead-light">
    <tr>
        <th scope="col">Номер рейса</th>
        <th scope="col">Авиакомпания</th>
        <th scope="col">Вылет</th>
        <th scope="col">Прилет</th>
        <th scope="col">Тип</th>
        <th scope="col">Выход</th>
        <th scope="col">Подробнее</th>
    </tr>
    </thead>
    <tbody>
    {% for flight in flights %}
    <tr>
        <td>{{ flight.flight_number }}</td>
        <td>{{ flight.airline }}</td>
        <td>{{ flight.departure_city }} {{ flight.departure }}</td>
        <td>{{ flight.arrival_city }} {{ flight.arrival }}</td>
        <td>{{ flight.type }}</td>
        <td>{{ flight.gate }}</td>
        <td><a href="{% url 'flight_info' flight.id %}" class="btn btn-primary">Клик</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}