 
 {% extends 'base.html' %}
{% block title  %}Login{% endblock title  %}
{% block content %}
<h1>Log in</h1>
<br>
{% block messages %}
{% if messages %}
{% for message in messages %}
{{message}}
{% endfor %}
{% endif %}
{% endblock messages %}


<form  method="post">
  {% csrf_token %}
  <label for="username">Username</label>
  <input name= "username" type="username" placeholder="username"/>
  <br>
  <label for="psssword">password</label>
  <input name= "password" placeholder="password" type="password"/>
  <br>
  <input type= "submit" value="submit">
</form>
{% endblock content %}